  .info_button {
    float:right;
  }
  .info_button i {
    font-size:42px;
    cursor:pointer;
  }
  
  h1, h2, h3, h4 {
    text-align: center;
    color: #888;
    font-family: sans-serif;
  }
   h2, h3 {
     margin-bottom: 30px;
   }
  
  .container {
    
  }
  .container.users, .container.events {
    float: right;
    width: 50%;
    display: none;
  }  
  
  .container.users.full_width, .container.events.full_width {
    width: 100%;
  }
  
  .panel {
    margin: 15px 25px;
    padding: 15px 25px;
    clear: both;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .select_panel {
    float:left;
  }
  .select_panel.date {
    width: 30%;
  }
  /*
  .select_panel.period {
    width: 25%;
  }*/
  .select_panel.users {
    width: 35%;
  }
  .select_panel.event_type {
    width: 35%;
  }
  
  .select_panel.date input {
    height:32px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .filter_cards {
    margin:12px 12px 0px 0px;
  }
  span.filter_card {
    display: inline-block;
    padding: 3px 5px;
    background-color: #ddd;
    margin: 3px 5px;
    border-radius: 5px;
  }
  span.filter_card i:hover {
    cursor:pointer;
  }
  
  i.material-icons.in_text {
    font-size: 16px;
    margin-left: 4px;
    position: relative;
    top: 2px;
  }
  
  #load_btn {
    width: 120px;
    text-align:center;
  }  
  #load_btn.loading {
    animation: color_change 0.8s infinite;    
  }
  @keyframes color_change {
      0% { background-color: #4CAF50; }
     20% { background-color: #68C46B; }
     40% { background-color: #89DA8B; }
     60% { background-color: #89DA8B; }
     80% { background-color: #68C46B; }
    100% { background-color: #4CAF50; }
  }
  span.tooltip {
    margin-left:30px;
    font-size: 13px;
  }
  span.tooltip.error {
  }
  
  .grid_toggler{
    float:right;
    width:100px;
    text-align: right;
    padding: 0px 20px;
    display:none;
  }
  .grid_toggler i {
    font-size:42px;
    transform:rotate(0deg);
    animation-name: rotate_90_180;
    animation-duration: 400ms;
    animation-timing-function: linear;
  }
  .grid_toggler i:hover {
    cursor: pointer;
  }
  .grid_toggler i.spin {
    transform:rotate(90deg);
    animation-name: rotate_0_90;
    animation-duration: 400ms;
    animation-timing-function: linear;
  }
  @keyframes rotate_0_90 {
    from {transform:rotate(0deg);}
    to {transform:rotate(90deg);}
  }
  @keyframes rotate_90_180 {
    from {transform:rotate(90deg);}
    to {transform:rotate(180deg);}    
  }
  
  
  .grey_button {
    color: #ccc;
    cursor:pointer;
  }
  .grey_button:hover {
    color: #aaa;
  }
  
  .result_desc{
    font-size:13px;
    padding:0px 25px;
    float:left;    
  }
  .result_desc p{
    margin: 0px;    
  }
  
  .btn-group button {
    font-size: 12px;
     background-color: white; /* Green background */
     border: 1px solid #888; /* Green border */
     /* color: #4CAF50; */
     color: #888;
     padding: 3px 10px; /* Some padding */
     cursor: pointer; /* Pointer/hand icon */
     float: left; /* Float the buttons side by side */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .btn-group button.active, .btn-group button:hover {
    background-color: #888!important; /* Green background */
    color: white;
  }
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  

  .period_switch button:not(:last-child) {
    btn-group-right: none; /* Prevent double borders */
  }
  .btn-group button:hover {
    background-color: #3e8e41;
  }
  .period_switch {
    display: inline-flex;
  }
  
  
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 5px 12px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 5px 12px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}
.dropdown-content a.selected {
  color:#aaa;
  cursor:default;
}
.dropdown-content a:hover {
  background-color: #f1f1f1
}
.dropdown-content a.selected:hover {
  background-color: #f9f9f9;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
  
  
  
  
  
  
  /* Page ABOUT */
  
.back_link {
	text-align: left;
	float: left;
	font-size: 13px;
}
div.about p, div.about li {
	font-size: 13px;
}
div.parser_report {
	width:600px;
	background-color:#444;
	color:white;
	font-size:11px;
	padding: 2px 10px;
}
div.parser_report p {
	margin: 5px 0px;
}
  
  
  